*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: white;
}

.you{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid rgb(226, 188, 188);
}

.you i{
    font-size: 40px;
    color: red;
}

.you-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu i{
    font-size: 21px;
    color:  black;
    padding: 5px 10px;
}

.search-form i{
    font-size: 15px;
    color: black;
    border: 0.1px solid black;
    padding: 10px 20px;
    border-radius: 5px 30px 30px 5px;
}

.search-form i:hover{
    background-color: black;
    color: white;
    transition: all 0.3s ease;
}


.search-form  input{
    padding: 8px 180px;
    font-size: 15px;
    border-radius: 30px 5px 5px 30px;
    border: 0.1px solid black;
    text-align: center; 
}

.sidebar {
  width: 80px;
  height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;   
  align-items: center;
  padding-top: 20px;
  gap: 18px;
  border-right: 1px solid rgb(226, 188, 188);
}

.sidebar-item {
  display: flex;
  flex-direction: column;   
  align-items: center;
  color: black;
  font-size: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.sidebar-item i {
  font-size: 20px;
  margin-bottom: 7px;
}


.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
  padding: 20px;
  margin-top: -770px;
  margin-left: 70px;
}

.card {
  border: 1px solid rgb(226, 188, 188);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  width: 460px;
}

.card img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 10px;
}

.card h1 {
  font-size: 23px;
  margin:7px 0;
  margin-right: 55%;
}

.card p {
  font-size: 13px;
  margin: 5px 0;
  margin-right: 18%;
  margin-bottom: 25px;
}
